1 VERSIONINFO
FILEVERSION     0,1,2,0
PRODUCTVERSION  0,1,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Life Incorporated"
      VALUE "FileDescription", "Engine-component for Life();"
      VALUE "FileVersion", "0.1.2"
      VALUE "InternalName", "lifeengine"
      VALUE "LegalCopyright", "lifeengine"
      VALUE "OriginalFilename", "lifeengine.exe"
      VALUE "ProductName", "Life();"
      VALUE "ProductVersion", "0.1.2"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
100 ICON "engineIcon.ico"
