[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dep/argvparse"]
	path = dep/argvparse
	url = https://github.com/sillydan1/argvparse
[submodule "dep/tinytimer"]
	path = dep/tinytimer
	url = https://github.com/sillydan1/tinytimer
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
[submodule "dep/glew"]
	path = dep/glew
	url = https://github.com/nigels-com/glew
