[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dep/argvparse"]
	path = dep/argvparse
	url = https://github.com/sillydan1/argvparse
[submodule "dep/tinytimer"]
	path = dep/tinytimer
	url = https://github.com/sillydan1/tinytimer
